---
layout: wpub
title: Webové publikovanie
subtitle: 1. Zadanie - Webové sídlo
---

<section class="doc">
  <h3>1 Rozloženie stránok a ich účel</h3>
    <h4>1.1 Domov</h4>
    <p>Táto stránka slúži len na uvítanie a predstavenie sa.</p>

    <h4>1.2 O mne</h4>
    <p>Toto je stránka, ktorá obsahuje nejaké základné informácie o mne a o tom, prečo študujem informatiku.</p>

    <h4>1.3 Projekty</h4>
    <p>Táto stránka obsahuje tri podstránky (Bakalárska práca, Webové publikovanie a Profesné záujmy). Zameriava sa na moje
    pracovné a profesné projekty a úspechy. Stránka toho zatiaľ neobsahuje veľa, ale časom by tam mali pribúdať ďalšie práce.</p>

      <h5>1.3.1 Bakalárska práca</h5>
      <p>Podstránka obsahuje stručné informácie o tom, čo robím vrámci svojej bakalárskej práce a čo je mojím cieľom. Tiež
      sú naznačené základné etapy práce spolu s informáciami , čo sa v týchto etapách dialo a s čím som pracovala.</p>

      <h5>1.3.2 Webové publikovanie</h5>
      <p>Na tejto podstránke sa nachádzajú projekty z predmetu webové publikovanie a tiež dokumentácia k týmto zadaniam.
      Podstránka obsahuje aj vlastnú navigáciu kvôli rýchlejšiemu prechodu medzi projektami. </p>

      <h5>1.3.3 Profesné záujmy</h5>
      <p>Podstránka profesné záujmy obsahuje informácie o oblastiach, ktoré ma v informatike najviac zaujímajú, a ktorým
      by som sa možno v budúcnisti chcela venovať.</p>

    <h4>1.4 Záujmy</h4>
    <p>Na tejto stránke sa nachádzajú niektoré z mojich najobľúbenejších záujmov. Každý zo záujmov má svoju vlastnú podstránku,
    na ktorej je bližšie popísané o tom, prečo rada robím tú ktorú činnosť ako som sa k nej dostala.</p>

  <h3>2 Prvky použité v šablónach</h3>
    <h4>2.1 Premenné</h4>
      <p>V projekte som použila nasledovné premenné:</p>
        <ul>
          <li>interests</li>
          <p>Táto premenná označuje kolekciu záujmov. Vrámci tejto sú zahrnuté ďalšie tri premenné (title, url, image),
          ktoré obsahujú názvy podstránok, ich url adresy a obrázky reprezentujúce záujmy.</p>
          <li>projects</li>
          <p>Táto premenná označuje kolekciu projektov, čo sú vlastne moje profesné projekty aktivity alebo záujmy. Vrámci
          tejto sú zahrnuté ďalšie dve premenné (title, url), ktoré obsahujú názvy podstránok a ich url adresy.</p>
          <li>content1 a content2</li>
          <p>Tieto dve premenné mi pomáhajú rozdeliť si content v layoute do dvoch stĺpcov. Síce som neskôr našla spôsob ako to
          spraviť aj bez nich, ale zatiaľ som to nechala tak a v budúcnosti to možno prerobím.</p>
          <li>subtitle</li>
          <p>Táto premenná slúži na zobrazenie správneho nadpisu (titulku) zadania v sekcii webové publikovanie. Spravila som to
          takto preto, aby názov stránky mohol zostať Webové publikovanie.</p>
          <li>month</li>
          <p>Premenná slúži na odloženie si mesiaca z aktuálneho dátumu. Túto premennú neskôr používam na to, aby som zistila,
          ktorý mesiac momentálne je a podľa toho zobrazila hlášku (pre každý mesiac mám inú hlášku a zobrazujem ju v časti
          about).</p>
          <li>message</li>
          <p>Do tejto premennej priraďujem hlášku, ktorú potom zobrazím.</p>
        </ul>

    <h4>2.2 Kolekcie</h4>
    <p>V tomto projekte som použila dve kolekcie. Prvou sú moje obľúbené záujmy a druhou projekty zo školského a profesného
    života.</p>

    <h4>2.3 Filtre a tagy</h4>
    <p>V projekte som použila nasledovné filtre:</p>
      <ul>
        <li>{% raw %}{{ 'now' | date: "%m%Y" }}{% endraw %}</li>
        <p>Tento filter používam na výber mesiaca alebo roku z dátumu. Aktuálny rok sa nachádza v pätičke a aktuálny
        mesiac používam na vybratie správnej hlášky.</p>
        <li>{% raw %}{{ site.time | date_to_string }}{% endraw %}</li>
        <p>Filter používam na zobrazenie dátumu, kedy bola naposledy upravená sekcia webové publikovanie.</p>
        <li>{% raw %}{{ project/interst.content | xml_escape }}{% endraw %}</li>
        <p>Tento filter mi slúži na vyescapovanie textu obsahu stránky pre potreby použitia v xml. V tomto prípade sa
        používa v súbore atom.xml, ktorý generuje pomocou pluginu Atom.</p>
      </ul>

    <p>V projekte som použila nasledovné tagy:</p>
      <ul>
        <li>{% raw %}{% for %}{% endfor %}{% endraw %}</li>
        <p>Tieto tagy som použila na iterovanie cez kolekciu záujmov aj projektov.</p>
        <li>{% raw %}{% if %}{% elsif %}{% endif %}{% endraw %}</li>
        <p>Tieto tagy využívam pri rozhodovaní sa, ktorý mesiac je aktuálny a na základe rohodutí potom vyberám tú správnu
        hlášku</p>
        <li>{% raw %}{% capture %}{% endcapture %}{% endraw %}</li>
        <p>Tieto tagy mi slúžia na správne naplnenie premennej month.</p>
        <li>{% raw %}{% assign %}{% endraw %}</li>
        <p>Tento tag používam na priradenie hlášky do premennej message.</p>
      </ul>

      <p>Okrem toho som použila raw a endraw na zrušenie významu filtrov a tagov v dokumente.</p>

    <h4>2.4 Pluginy</h4>
    <p>Použila som tiež dva pluginy:
      <ul>
        <li>jekyll-feed</li>
        <p>Tento plugin pre kolekcie záujmy a projeky vygeneruje Atom (niečo ako RSS).</p>
        <li>jemoji</li>
        <p>Plugin jemoji umožňuje použitie rôzných smajlíkov a emotikonov na stránke.</p>
      </ul>
    </p>

  <h3>3 Použité layouty</h3>
  <p>Toto webové sídlo využíva tri rôzne rozloženia stránok (layouty). </p>

  <ul>
    <li>default</li>
    <p>Základné rozloženie prvkov na stránke. Toto rozloženie obsahujú všetky stránky aj podstránky. Nachádza sa v ňom titulná
    fotka, hlavná navigácia a pätička.</p>
    <li>interest</li>
    <p>Toto rozloženie sa používa na podstránkach záujmov. Od základného rozloženia sa odlišuje tým, že obsah stránky je
    rozdelený do dvoch stĺpcov.</p>
    <li>wpub</li>
    <p>Rozloženie wpub sa využíva na stránke webového poublikovania a teda aj jednotlivých projektov z tohto predmetu. Rozloženie
    je obohatené o postrannú navigáciu, ktorá slúži na rýchly prechod medzi jednotlivými projektami. Toto rozloženie tiež
    zobrazuje, kedy bol projekt pridaný.</p>
  </ul>

  <h3>4 Použité štýly</h3>
  <p>Na vytvorenie dizajnu stránky som si napísala vlastné css, pričom niekedy som sa inšpirovala tutoriálmi zo stránky
  W3Schools.</p>

</section>
