<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
							<li><a href="/blog">Blog</a></li>
		        	<li><a href="/about">About me</a></li>
	        		<li><a href="/projects">Projects</a></li>
							<li><a href="/cv">CV</a></li>
	        		<li><a href="/interests">Interests</a></li>
							<li><a href="/food">Favourite food</a></li>
							<li><a href="/documentation">Documentation</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mata.hanakova@gmail.com">email: mata.hanakova@gmail.com</a></li>
	        		<li><a href="https://github.com/martinahanakova">github.com/martinahanakova</a></li>
				</ul>
			</footer>
		</body>
	</html>
