<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<img src="/flowers.jpg" alt="header picture">
			<nav>
	    		<ul>
	        		<li><a href="/">Domov</a></li>
		        	<li><a href="/about">O mne</a></li>
	        		<li><a href="/projects">Projekty</a></li>
	        		<li><a href="/interests">Záujmy</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div>
			<footer>
	    		<ul>
	        		<li><span><a href="mailto:mata.hanakova@gmail.com">:email:email: mata.hanakova@gmail.com</a></span></li>
							<li>{{ 'now'| date: "%Y" }}</li>
	        		<li><a href="https://github.com/martinahanakova">:octocat:github.com/martinahanakova</a></li>
				</ul>
			</footer>
		</body>
	</html>
